<br>
{{input value=model.url type='text'}}
{{input value=model.title type='text'}}
{{input value=model.image type='text'}}

<button type="button" {{action 'favorite' model}} name="button">NEW</button>

{{outlet}}
